<div class="pragmatic_header">
    <div>
        <h1 class="pragmatic_logo">Pragmatic</h1>
    </div>
    <div class="pragmatic_header_navbar">
        <a href="{% url 'articleApp:list' %}" class="pragmatic_header_nav">
            <span>Articles</span>
        <a href="" class="pragmatic_header_nav">nav2</a>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountApp:login' %}?next={{ request.path }}" class="pragmatic_header_nav">
            <span>login</span>
        </a>
        <a href="{% url 'accountApp:create' %}?next={{ request.path }}" class="pragmatic_header_nav">
            <span>sign up</span>
        </a>
        {% else %}
        <a href="{% url 'accountApp:detail' pk=user.pk %}" class="pragmatic_header_nav">
            <span>Mypage</span>
        </a>
        <a href="{% url 'accountApp:logout' %}" class="pragmatic_header_nav">
            <span>logout</span>
        </a>
        {% endif %}
    </div>
</div>